<ion-content class="ion-padding" color="dark">

    <div class="ion-text-center">
        <ion-avatar class="mb-3" size="large" style="align-self: center; margin: auto; height: 200px; width: 200px;">
            <img class="icon" *ngIf="!foto" src="../../../assets/images/nofoto.jpg" alt="">
            <img class="icon" *ngIf="foto" [src]="foto" alt="">
        </ion-avatar>
    </div>

    <form [formGroup]="altaForm" (ngSubmit)="editarUsuario()">

        <ion-item>
            <ion-label position="floating">Nombre</ion-label>
            <ion-input type="text" formControlName="nombre"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Apellido</ion-label>
            <ion-input type="text" formControlName="apellido"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Correo Electrónico</ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">DNI</ion-label>
            <ion-input type="number" formControlName="dni"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">CUIL</ion-label>
            <ion-input type="text" formControlName="cuil"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="stacked">Perfil</ion-label>
            <ion-select (ionChange)="setPerfil($event.target.value)" placeholder="Seleccione su perfil: ">
                <ion-select-option value="socio">Socio</ion-select-option>
                <ion-select-option value="admin">Administrador</ion-select-option>
                <ion-select-option value="mozo">Mozo</ion-select-option>
                <ion-select-option value="cocina">Cocinero</ion-select-option>
                <ion-select-option value="barra">Barman</ion-select-option>
                <ion-select-option value="cerveza">Cervecero</ion-select-option>
                <ion-select-option value="postre">CandyBar</ion-select-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label position="stacked">Modificar estado</ion-label>
            <ion-select (ionChange)="setEstado($event.target.value)" placeholder="cambiar estado">
                <ion-select-option value="true">Alta</ion-select-option>
                <ion-select-option value="false">Baja</ion-select-option>
            </ion-select>
        </ion-item>

        <ion-button expand="full" type="submit" [disabled]="!altaForm.valid">Editar Usuario</ion-button>

    </form>


</ion-content>


<ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="danger">
        <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list size="large" side="start">
        <ion-fab-button color="success">
            <ion-icon size="large" name="camera" (click)="tomarFoto()"></ion-icon>
            <!--    <ion-icon size="large" name="camera" (click)="takeFoto()"></ion-icon> -->
        </ion-fab-button>
        <ion-fab-button color="secondary">
            <input type="file" e="archivo" id="archivo" (change)="detectFiles($event)">
        </ion-fab-button>
        <ion-fab-button color="secondary">
            <ion-icon size="large" name="qr-scanner" (click)="scanDNI()"></ion-icon>
            <!--  <ion-icon size="large" name="qr-scanner" (click)="scanDNI()"></ion-icon> -->
        </ion-fab-button>
    </ion-fab-list>

</ion-fab>