.col {
    border-bottom: 1px solid black;
}

#archivo {
    position: relative;
    overflow: hidden;
    margin: 10px;
}

#botonInput {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.unGranDiv {
    background-color: black;
}

ion-col,
ion-row {
    justify-content: center;
    align-content: center;
    display: flex;
    align-items: center;
}

.responsive {
    max-width: 40%;
    height: auto;
}

.btnSecundario {
    font-family: 'Raleway', sans-serif;
    font-size: 32pt;
    font-weight: 800;
}