<app-header [titulo]="title" [backButton]="true" (volver)="volver($event)"></app-header>
<ion-content no-bounce>
    <div *ngIf="this.usuarioActual.activo!=null">
        <div *ngIf="!cuenta">
            <div class="unGranDiv" style="height:90vh; " *ngIf="botonera">
                <div *ngIf="mesasServ.mesaActual ==null" style="height:90vh; ">
                    <ion-row style="height:40%; ">
                        <ion-col class="col-12" style=" height:100%; background-color: rgb(172, 6, 6); color: seashell;  " (click)="pedirMesaQR()">
                            <h1 style="font-family: 'Raleway', sans-serif; font-size: 20pt; font-weight: 800;  margin-left:10px ;">
                                PEDIR MESA CON QR
                            </h1>
                            <p><img src="../../../assets/mapa-mesa-01.png" alt=""> </p>
                        </ion-col>
                    </ion-row>
                    <ion-row style="height:40%;">
                        <ion-col style=" height:100%; background-color: rgb(0, 0, 0); color: seashell;" (click)="consultarPedidosAnonimo() ">
                            <h1 style="font-family: 'Raleway', sans-serif; font-size: 20pt; font-weight: 800;  margin-left:10px ;">
                                CONSULTAR COMO ANONIMO
                            </h1>
                        </ion-col>
                    </ion-row>
                    <ion-row style="height:20%;">
                        <ion-col class="col-12" style="background-color: rgb(10, 184, 146); color: seashell; " (click)=" reservarMesa() ">
                            <div tyle="font-family: 'Raleway', sans-serif; font-size: 20pt; font-weight: 800; margin-left:10px ;">
                                RESERVA
                            </div>
                        </ion-col>
                    </ion-row>
                </div>
                <!--  -->
                <div *ngIf="mesasServ.mesaActual !=null" style="height:92vh; ">
                    <ion-row style="height:40%;" *ngIf="mesasServ.mesaActual.estado !='pagando'">
                        <ion-col style="height:100%; background-color: rgb(172, 6, 6); color: seashell;" (click)="consultarPedidos() ">
                            <h1 style="font-family: 'Raleway', sans-serif; font-size: 25pt; font-weight: 800; margin-left:10px ;">CONSULTA TU MESA
                            </h1>
                        </ion-col>
                    </ion-row>
                    <ion-row style="height:40%;" *ngIf="mesasServ.mesaActual.estado !='pagando'">
                        <ion-col style=" height:100%; background-color:rgb(42, 42, 43); color: seashell; ">
                            <ion-icon name="menu" style="color: white; zoom: 4; vertical-align: auto; " (click)="ingresarPedido()" *ngIf="mesasServ.mesaActual.estado =='inicioServicio'"> </ion-icon>
                            <ion-button color="dark" (click)=" cerrarMesa()" *ngIf="mesasServ.mesaActual.estado=='comiendo'" class="btnSecundario ">Pedir Cuenta</ion-button>
                            <ion-button color="dark" (click)=" cerrarMesa()" *ngIf="mesasServ.mesaActual.estado=='esperandoComida'" class="btnSecundario ">Pedir Cuenta</ion-button>
                            <ion-button color="dark" (click)=" verCuenta()" *ngIf="mesasServ.mesaActual.estado=='pagoEnviado'" class="btnSecundario ">Ver Cuenta</ion-button>

                            <ion-button color="dark" (click)=" jugar()" *ngIf="mesasServ.mesaActual.estado=='pedidoAConfirmar'" class="btnSecundario ">Jugar</ion-button>
                            <ion-button color="dark" (click)=" jugar()" *ngIf="mesasServ.mesaActual.estado=='cuentaPedida'" class="btnSecundario ">Jugar</ion-button>
                            <ion-button color="dark" (click)=" jugar()" *ngIf="mesasServ.mesaActual.estado=='solicitada'" class="btnSecundario ">Jugar</ion-button>
                            <ion-button color="dark" (click)=" jugar()" *ngIf="mesasServ.mesaActual.estado=='reservada'" class="btnSecundario ">Jugar</ion-button>

                            <label *ngIf="mesasServ.mesaActual.estado =='inicioServicio'" style="font-family: 'Raleway', sans-serif; font-size: 20pt; font-weight: 800; margin-left:10px ;">Menu</label>

                            <p *ngIf="mesasServ.mesaActual.estado =='solicitada'"> <label style="font-family: 'Raleway', sans-serif; font-size: 12pt; font-weight: 800; margin-left:10px ;">
                            Aguarde Confirmacion para Pedir</label>
                            </p>
                        </ion-col>

                    </ion-row>
                    <!-- ticket -->
                    <ion-row style="height:90%;  align-content: end; " *ngIf="mesasServ.mesaActual.estado =='pagando'">
                        <ion-col style="background-color:rgb(255, 255, 255); color: rgb(24, 22, 20);     align-content: end; ">
                            <app-detalle-cuenta></app-detalle-cuenta>
                        </ion-col>
                    </ion-row>
                    <ion-row style="height:10%; " *ngIf="mesasServ.mesaActual.estado =='cuentaPedida'">
                        <ion-col class="col-12 " style=" height:100%; background-color: rgb(13, 87, 71); color: seashell; " (click)=" hacerEncuesta() ">
                            <h1 style="font-family: 'Raleway', sans-serif; font-size: 25pt; font-weight: 800; margin-left:10px ;"> Encuesta
                            </h1>
                        </ion-col>
                    </ion-row>
                    <ion-row style="height:10%;" *ngIf="mesasServ.mesaActual.estado !='pagando'">
                        <ion-col class="col-12 " style=" height:100%; background-color: rgb(10, 184, 146); color: seashell; " (click)=" reservarMesa() ">
                            <h1 style="font-family: 'Raleway', sans-serif; font-size: 25pt; font-weight: 800; margin-left:10px ;">RESERVA
                            </h1>
                        </ion-col>
                    </ion-row>
                </div>

            </div>
        </div>
        <div *ngIf="cuenta">
            <ion-row style="height:90%;  align-content: end; ">
                <ion-col style="background-color:rgb(255, 255, 255); color: rgb(24, 22, 20);     align-content: end; ">
                    <app-detalle-cuenta></app-detalle-cuenta>
                </ion-col>
            </ion-row>
        </div>
    </div>
    <div *ngIf="this.usuarioActual.activo==null" style="height:100vh; ">
        <ion-row style="height:10%; ">
            <ion-col style="height:100%; background-color: rgb(153, 10, 117); color: seashell;">
                <h1 style="font-family: 'Raleway', sans-serif; font-size: 15pt; font-weight: 800; margin-left:10px ;">Esperando Autorizacion
                    <span class="animated infinite flash">...</span> </h1>
            </ion-col>
        </ion-row>
        <ion-row style="height:90%; ">
            <ion-col style="height:100%; background-color: rgb(153, 10, 117); color: seashell;">
                <iframe src="https://giphy.com/embed/buLnnhWURdY4M" width="384" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
            </ion-col>
        </ion-row>
    </div>


    <ion-content *ngIf="menu">
        <app-listado-productos (enviar)="recibirPedido($event)"></app-listado-productos>
    </ion-content>

    <ion-content *ngIf="confirmar">
        <app-confirmar-pedido [pedidoAConfirmar]="pedido" (final)="volver($event) "></app-confirmar-pedido>
    </ion-content>