ion-content{
    align-content: center;

}


img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-top: 10%;
    margin-bottom: 30%;
}

ion-button {
    
    margin-bottom: 1%;
    
    height: 40px;    
}


ion-toolbar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1%;
  
}