<ion-grid fixed>
  <ion-row>
    <ion-col size="4">
      <ion-button color="primary" class="pig" expand="full" fill="outline" (click)="emitirSonido('pig')">
      </ion-button>
    </ion-col>
    <ion-col size="4">
      <ion-button color="light" class="cat" expand="full" fill="outline" (click)="emitirSonido('cat')">
      </ion-button>
    </ion-col>
    <ion-col size="4">
      <ion-button color="tertiary" class="giraffe" expand="full" fill="outline" (click)="emitirSonido('giraffe')">
      </ion-button>
    </ion-col>
    <ion-col size="4">
      <ion-button color="success" class="lion" expand="full" fill="outline" (click)="emitirSonido('lion')">
      </ion-button>
    </ion-col>
    <ion-col size="4">
      <ion-button color="dark" class="monkey" expand="full" fill="outline" (click)="emitirSonido('monkey')">
      </ion-button>
    </ion-col>
    <ion-col size="4">
      <ion-button color="danger" class="panda" expand="full" fill="outline" (click)="emitirSonido('panda')">
      </ion-button>
    </ion-col>
    <ion-col size="4">
      <ion-button color="secondary" class="dog" expand="full" fill="outline" (click)="emitirSonido('dog')">
      </ion-button>
    </ion-col>
    <ion-col size="4">
      <ion-button color="medium" class="frog" expand="full" fill="outline" (click)="emitirSonido('frog')">
      </ion-button>
    </ion-col>
    <ion-col size="4">
      <ion-button color="warning" class="tiger" expand="full" fill="outline" (click)="emitirSonido('tiger')">
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>