<app-header [titulo]="title" [backButton]="true"></app-header>


<ion-content padding color="dark">
    
   
        <div class="chart-container" [ngClass]="{ocultar: this.router.url == '/list/cosasLindas/stats'}">
          <canvas  id="barChart" width="400" height="400"></canvas>
        </div>
        <div class="chart-container" [ngClass]="{ocultar: this.router.url == '/list/cosasFeas/stats'}">
          <canvas id="pieChart" width="400" height="400"></canvas>
        </div>

   
    
    
</ion-content>

