<ion-header>
    <ion-toolbar>

        <ion-title> Mesa</ion-title>
        <ion-button *ngIf="botonera" slot="end" color="light" routerLink="/admin">
            <ion-icon name="arrow-back"> </ion-icon> Admin
        </ion-button>
        <ion-button *ngIf="!botonera" slot="end" color="light" (click)=" volver()">
            <ion-icon *ngIf="!botonera" name="arrow-back">Mesas</ion-icon>
        </ion-button>

    </ion-toolbar>
</ion-header>

<ion-content *ngIf="botonera">
    <div class="unGranDiv" style="height: 93vh;">
        <ion-row style="height:50%; ">
            <ion-col class="col-12" style="height:98%; background-color: rgb(0, 0, 0); color: seashell;  " (click)="verListaMesa()">
                <h1 style="font-family: 'Raleway', sans-serif; font-size: 32pt; font-weight: 800;">LISTADO</h1>
            </ion-col>
        </ion-row>
        <ion-row style="height:50%; ">
            <ion-col class="col-12" style="height:98%; background-color: rgb(170, 9, 9); color: seashell;  " (click)="verAltaMesa() ">
                <h1 style="font-family: 'Raleway', sans-serif; font-size: 32pt; font-weight: 800;">ALTA MESA</h1>
            </ion-col>
        </ion-row>
    </div>
</ion-content>

<ion-content *ngIf="altaMesa">
    <app-alta-mesa [mesaActual]="productoElegido"></app-alta-mesa>
</ion-content>
<ion-content *ngIf="listaMesa">
    <app-listado-mesas (enviar)="editarUsu($event)"></app-listado-mesas>
</ion-content>

<ion-footer *ngIf="listaMesa">
    <ion-button color="dark" expand="full" (click)="limpiarTodasLasMesas()">limpiar todas las mesas</ion-button>
    <ion-button color="light" expand="full" (click)="eliminarPedidos()">borrar todo los pedidos</ion-button>
</ion-footer>