<ion-header translucent>
  <ion-toolbar color="success">
    <ion-title>Registración
      <ion-icon name="logo-android"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding" color="dark">

  <ion-item color="dark">
    <ion-label floating color="light">
      <ion-icon size="large" name="mail"></ion-icon>
    </ion-label>
    <ion-input type="email" name="email" [(ngModel)]="user.email" placeholder=" Ingrese su email"></ion-input>
  </ion-item>
  <ion-item color="dark">
    <ion-label floating color="light">
      <ion-icon size="large" name="lock"></ion-icon>
    </ion-label>
    <ion-input type="password" name="password" [(ngModel)]="user.password" placeholder=" Ingrese su password">
    </ion-input>
  </ion-item>

  <ion-item-divider color="dark">
    <ion-button size="large" color="secondary" (click)="onRegister()">Registrar</ion-button>
    <ion-button size="large" routerLink="/login">Login</ion-button>
  </ion-item-divider>

  <div id="contenido" ></div>

</ion-content>