// ion-button{
//     color: white;
//     font-weight: bolder;
//     font-size: 100%;
//     height: 100%; 
//     width: 100%;
//     margin: 0;
//     padding: 0;
//     text-shadow: 2px 0 0 #000000, -2px 0 0 #000000, 0 2px 0 #000000, 0 -2px 0 #000000, 1px 1px #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000;
// }

ion-segment {
    height: 100% !important;
    margin: 0 !important;
    padding: 0 !important;

    ion-segment-button {
        min-height: 100% !important;
        margin: 0 !important;
        --indicator-color-checked: #5cf018 !important;
        background-color: #81f14d !important;
    }

    .spanish {  
        background-image: url('../../../assets/images/flag-es.png') !important;
        background-repeat: no-repeat !important;
        background-position: center !important; 
        background-size: contain !important;
    }

    .english {  
        background-image: url('../../../assets/images/flag-en.png') !important;
        background-repeat: no-repeat !important;
        background-position: center !important; 
        background-size: contain !important;
    }
   .portugues {  
        background-image: url('../../../assets/images/flag-pr.png') !important;
        background-repeat: no-repeat !important;
        background-position: center !important; 
        background-size: contain !important;
    }
}

ion-grid{
    height: 100%;
    width: 100%;
    margin: 0 !important; 
    padding: 0;
}

ion-row{    
    width: 100% !important;
    margin: 0;    
    padding: 0;
}

ion-col{
    width: 100% !important;
    margin: 0;    
    padding: 0;
}

.outlet {    
    height: 90%;
}

.footer {
    height: 10%;
}

.desactivado {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    background-color: #74777c !important;
}


