<app-header titulo="Relevamiento Kinéctico" color="success" [backButton]="false"></app-header>

<ion-content padding color="dark">
  <img src="/assets/icon/icon.png">
  <form [formGroup]="form" (ngSubmit)="onSubmitLogin()">
    <ion-item color="light">
      <ion-icon name="mail" slot="start"></ion-icon>
      <ion-label position="floating"></ion-label>
      <ion-input formControlName="mail" type="text" placeholder="Ingrese su email"></ion-input>
    </ion-item>
    <ng-container *ngFor="let validation of validation_messages.mail">
      <div *ngIf="form.get('mail').hasError(validation.type) && (form.get('mail').dirty || form.get('mail').touched)">
        {{ validation.message }}
      </div>
    </ng-container>
    <ion-item color="light">
      <ion-icon name="unlock" slot="start"></ion-icon>
      <ion-label position="floating"></ion-label>
      <ion-input formControlName="password" type="password" placeholder="Ingrese su contraseña"></ion-input>
    </ion-item>
    <ng-container *ngFor="let validation of validation_messages.password">
      <div
        *ngIf="form.get('password').hasError(validation.type) && (form.get('password').dirty || form.get('password').touched)">
        {{ validation.message }}
      </div>
    </ng-container>
    <br>

    <ion-button color="success" expand="block" type="submit" [disabled]="!form.valid">
      Entrar
    </ion-button>

    <br>

  </form>

  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button color="warning">
      <ion-icon name="person"></ion-icon>
    </ion-fab-button>


    <ion-fab-list side="bottom">
      <ion-fab-button size="large" color="primary" (click)="cargarDatos(this.rolesEnum.admin)">
        <ion-icon name="logo-usd"></ion-icon>
      </ion-fab-button>

      <ion-fab-button side="bottom" size="large" color="secondary" (click)="cargarDatos(this.rolesEnum.invitado)">
        <ion-icon name="body"></ion-icon>
      </ion-fab-button>
    
      <ion-fab-button size="large" color="tertiary" (click)="cargarDatos(this.rolesEnum.usuario)">
        <ion-icon name="bug"></ion-icon>
      </ion-fab-button>

      <ion-fab-button size="large" color="success" (click)="cargarDatos(this.rolesEnum.anonimo)">
        <ion-icon name="bulb"></ion-icon>
      </ion-fab-button>
      
      <ion-fab-button size="large" color="warning" (click)="cargarDatos(this.rolesEnum.tester)">
        <ion-icon name="card"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>