<ion-header>
  <ion-toolbar>
    <ion-title routerLink="/cliente">
      <ion-icon name="arrow-back"></ion-icon> Reserva de Cliente
    </ion-title>
    <ion-buttons *ngIf="this.url !== '/login'" slot="end">
      <ion-button (click)="onLogout()">
        <ion-icon class="icon" name="exit"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding color="dark">
  <form [formGroup]="registroForm" (submit)="Registrar()">
    <ion-item padding
      style="background-color: rgba(75, 1, 1, 0.7)  !important; color: rgb(29, 29, 29); border-radius: 5px;">
      <ion-label>Seleccione una fecha: </ion-label>
      <ion-datetime displayFormat="MMM DD" placeholder="Seleccione una fecha de reserva" [(ngModel)]="this.hoy" [min]="this.hoy"
      [max]="this.tresDiasDespues"
         name="fecha" [formControl]="fecha" required></ion-datetime>
    </ion-item>
    <ion-item padding
      style="background-color: rgba(75, 1, 1, 0.7) !important; color: rgb(29, 29, 29); border-radius: 5px;">
      <ion-label>Seleccione una hora: </ion-label>
      <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" name="hora" [formControl]="hora" required>
      </ion-datetime>
    </ion-item>
    <ion-item padding
      style="background-color: rgba(75, 1, 1, 0.7) !important; color: rgb(29, 29, 29); border-radius: 5px;">
      <ion-label>Cantidad de comensales: </ion-label>
      <ion-input type="number" name="cant_comensales" [min]="1" [max]="10" [formControl]="cant_comensales" required></ion-input>
    </ion-item>
    <div padding>
      <ion-button type="submit" slot="end" color="primary" [disabled]="!registroForm.valid" block>Reservar
      </ion-button>
    </div>
  </form>
</ion-content>