<button type="button" (click)="cambiarColor('primary')"  style="border-radius: 24px; padding: 5%" class="btn btn-primary"><i
                class="fa fa-plus-circle"></i></button>
<!--<button type="button" (click)="cambiarColor('secondary')"style="border-radius: 24px; padding: 5%"  class="btn btn-secondary"><i
                class="fa fa-plus-circle"></i></button>-->
<button type="button" (click)="cambiarColor('success')" style="border-radius: 24px; padding: 5%" class="btn btn-success"><i
                class="fa fa-plus-circle"></i></button>
<button type="button" (click)="cambiarColor('danger')" style="border-radius: 24px; padding: 5%" class="btn btn-danger"><i class="fa fa-plus-circle"></i></button>
<button type="button" (click)="cambiarColor('warning')"  style="border-radius: 24px; padding: 5%" class="btn btn-warning"><i
                class="fa fa-plus-circle"></i></button>
<!--<button type="button" (click)="cambiarColor('info')" style="border-radius: 24px; padding: 5%" class="btn btn-info"><i class="fa fa-plus-circle"></i></button>-->
<button type="button" (click)="cambiarColor('dark')" style="border-radius: 24px; padding: 5%" class="btn btn-dark"><i class="fa fa-plus-circle"></i></button>

