<app-header [titulo]="title" [backButton]="true"></app-header>


<ion-content padding color="dark">
  <div [ngStyle]="{'background-color':this.title === 'Cosas Lindas' ? 'dark' : 'dark' }">

 


    <div [ngSwitch]="galleryType">
      <ion-grid *ngSwitchCase="galleryTypeEnum.AllPhotos" fixed>
        <ion-row>
          <ion-col size="6" size-md="4" size-lg="3" *ngFor="let image of allPhotos; let i = index"
            [attr.data-index]="i">
            <div class="image-container" [ngStyle]="{'background-image': 'url(' + image.image + ')'}"
              (click)="openGallery(i, galleryType)">
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid *ngSwitchCase="galleryTypeEnum.MyPhotos" fixed>
        <ion-row>
          <ion-col size="6" size-md="4" size-lg="3" *ngFor="let image of myPhotos; let i = index" [attr.data-index]="i">
            <div class="image-container" [ngStyle]="{'background-image': 'url(' + image.image + ')'}"
              (click)="openGallery(i, galleryType)">
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>



  </div>



  <ion-fab vertical="bottom"  horizontal="center" slot="fixed">
    <ion-fab-button color="danger">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button >
    <ion-fab-list size="large" side="start">
      <ion-fab-button color="warning" (click)="elegirFoto()">
        <ion-icon size="large" name="images"></ion-icon>
      </ion-fab-button >
      <ion-fab-button color="warning" size="large" (click)="tomarFoto()">
        <ion-icon size="large" name="camera"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="end">
      <ion-fab-button  color="success" size="large" [routerLink]="this.urlStats">
        <ion-icon size="large" name="stats"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>

<ion-footer color="dark">
  <ion-segment [(ngModel)]="galleryType" >
    <ion-segment-button value="allPhotos" >
      <ion-label>
        <ion-icon size="large" name="people"></ion-icon>
        <ion-text>
          <h2> Todas las fotos</h2>
        </ion-text>
      </ion-label>
    </ion-segment-button>
    <ion-segment-button value="myPhotos" >
      <ion-label>
        <ion-icon size="large" name="contact"></ion-icon>
        <ion-text>
          <h2> Mis fotografías</h2>
        </ion-text>
      </ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-footer>

