.image-container {
    background-size: cover;
    min-height: 200px;
}


ion-segment-button { 
    --background: rgb(97, 248, 110); 
    --background-checked: #388b00; 
    --background-activated: rgb(97, 248, 110); 
    --border-color: none; 
    --border-style: none; 
    --color: #363636; 
    --color-checked: #fff; 
    --color-activated: #fff; 
    --font-weight: bold;
    --margin-bottom: 0; 
    --indicator-color-checked: #388b00; 
}

ion-segment { 
    --background: #363636; 
}

.chart-container{
    margin-top: 5%;
    min-height: 370px !important;
    min-width: 100% !important;
}

ion-button{
    margin-top: 5%;
    --color: #fff; 
    --background: rgb(97, 248, 110); 
    max-height: 30px !important;
    margin-bottom: 10px;
}