<div *ngIf="showSplash" class="splash">
    <!--<div class="texto titulo">Relevamiento Visual</div>-->
    <div class="spinner heartBeat"></div>
    <div class="texto nombre">Madou Rizzi</div>
</div>
<ion-fab vertical="top" horizontal="end" slot="fixed" style="margin-top: 10vh; opacity: 0.7;" class="animated flip " (click)="soundON()" *ngIf="smartAudioService.sonidoActivo == true">
    <ion-fab-button color="danger">
        <ion-icon name="volume-mute"></ion-icon>
    </ion-fab-button>
</ion-fab>
<ion-fab vertical="top" horizontal="end" slot="fixed" style="margin-top: 10vh; opacity: 0.7;" class="animated flip" (click)='  soundOfF()' *ngIf="smartAudioService.sonidoActivo == false">
    <ion-fab-button color="light">
        <ion-icon name="volume-off"></ion-icon>
    </ion-fab-button>
</ion-fab>

<ion-app>
    <ion-router-outlet></ion-router-outlet>
</ion-app>

<div class="spinnerInterceptor heartBeat" *ngIf="showSpinner">
    <img src="../assets/icon/icon-simple-02.svg">
</div>