<ion-content padding color="dark">
    <div class="animated rubberBand delay-4s">
        <img src="../../../assets/icon/icon_Mesa de trabajo 1.svg" alt="">
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmitLogin()">
        <ion-item color="light">
            <ion-icon name="mail" slot="start"></ion-icon>
            <ion-label position="floating"></ion-label>
            <ion-input formControlName="mail" type="text" placeholder="Ingrese su email"></ion-input>
        </ion-item>
        <ng-container *ngFor="let validation of validation_messages.mail">
            <div *ngIf="form.get('mail').hasError(validation.type) && (form.get('mail').dirty || form.get('mail').touched)">
                {{ validation.message }}
            </div>
        </ng-container>
        <ion-item color="light">
            <ion-icon name="unlock" slot="start"></ion-icon>
            <ion-label position="floating"></ion-label>
            <ion-input formControlName="password" type="password" placeholder="Ingrese su contraseña"></ion-input>
        </ion-item>
        <ng-container *ngFor="let validation of validation_messages.password">
            <div *ngIf="form.get('password').hasError(validation.type) && (form.get('password').dirty || form.get('password').touched)">
                {{ validation.message }}
            </div>
        </ng-container>
        <br>
    </form>

    <ion-fab vertical="top" horizontal="end" slot="fixed" style="margin-top: 22vh;">
        <ion-fab-button color="warning">
            <ion-icon name="person"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="bottom">
            <ion-fab-button size="large" color="primary" (click)="cargarDatos(this.rolesEnum.admin)">
                Adm
            </ion-fab-button>

            <ion-fab-button side="bottom" size="large" color="secondary" (click)="cargarDatos(this.rolesEnum.mozo)">
                Mozo
            </ion-fab-button>

            <ion-fab-button size="large" color="tertiary" (click)="cargarDatos(this.rolesEnum.cocina)">
                Cocina
            </ion-fab-button>

            <ion-fab-button size="large" color="success" (click)="cargarDatos(this.rolesEnum.barman)">
                tragos
            </ion-fab-button>

            <ion-fab-button size="large" color="danger" (click)="cargarDatos(this.rolesEnum.cervecero)">
                Birra
            </ion-fab-button>
            <ion-fab-button size="large" color="warning" (click)="cargarDatos(this.rolesEnum.candyBar)">
                Postre
            </ion-fab-button>
        </ion-fab-list>
        <ion-fab-list side="start">
            <ion-fab-button size="large" color="warning" (click)="cargarDatos('cliente1')">
                Silvia
            </ion-fab-button>
            <ion-fab-button size="large" color="danger" (click)="cargarDatos('cliente2')">
                Rolando
            </ion-fab-button>
            <ion-fab-button size="large" color="warning" (click)="cargarDatos('cliente3')">
                noReg
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>
</ion-content>

<ion-footer color="dark">
    <ion-toolbar color="dark" class="mb-5" class="animated flash delay-5s">
        <ion-button color="danger" style="height: 50px;" size="large" expand="full" type="submit" [disabled]="!form.valid" (click)="onSubmitLogin()"> Entrar</ion-button>
    </ion-toolbar>

    <ion-toolbar color="dark">
        <ion-button color="warning" expand="full" routerLink="/register">Registrar</ion-button>
        <ion-button color="light" expand="full" (click)="entrarAnonimo()">Entrar Anonimo</ion-button>
    </ion-toolbar>

</ion-footer>