<ion-content>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12">
          <ion-button fill="clear" class="botonLindo" expand="full" routerLink="/list/cosasLindas">
            <div class="txtBotonLindo">COSAS LINDAS</div>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-button fill="clear" class="botonFeo" expand="full" routerLink="/list/cosasFeas">
            <div class="txtBotonFeo">COSAS FEAS</div>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>