ion-button{
    color: white;
    font-weight: bolder;
    font-size: 100%;
    height: 100%; 
    width: 100%;
    margin: 0;
    padding: 0%;
    text-shadow: 2px 0 0 #f70000, -2px 0 0 #f70000, 0 2px 0 #f70000, 0 -2px 0 #f70000, 1px 1px #f70000, -1px -1px 0 #f70000, 1px -1px 0 #f70000, -1px 1px 0 #f70000;
}

.botonLindo{
    background-image: url('../../../assets/images/cosas-linda.jpg') !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    
}
.txtBotonLindo{
    font-weight: bold;
    font-size: 2.5rem;
    font-family: "Arial Black", Gadget, sans-serif;
    color: white !important;
    text-align: left!important;
}

.botonFeo{
    background-image: url('../../../assets/images/cosas-fea.jpg') !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-weight: bold;
    font-size: 2.5rem;    
    font-family: "Arial Black", Gadget, sans-serif;
    color: black !important;
}

.txtBotonFeo{
    font-weight: bold;
    font-size: 2.5rem;
    font-family: "Arial Black", Gadget, sans-serif;
    color: black !important;
    text-align: right!important;
}

ion-grid{
    height: 100%;
    margin: 0 !important; 
    padding: 0;
}

ion-row{
    height: 50%;
    margin: 0;    
    padding: 0;
}

ion-col{
    margin: 0;    
    padding: 0;
}