<ion-grid fixed color="white">
  <ion-row>
    <ion-col size="4" >
      <ion-button color="amarillo" class="one" expand="full"  (click)="emitirSonido('one')"></ion-button>
    </ion-col>
    <ion-col size="4">
      <ion-button color="azul" class="two" expand="full" fill="outline" (click)="emitirSonido('two')"></ion-button>
    </ion-col>
    <ion-col size="4">
      <ion-button color="light" class="three" expand="full" fill="outline" (click)="emitirSonido('three')">
      </ion-button>
    </ion-col>
    <ion-col size="4">
      <ion-button color="celeste" class="four" expand="full" (click)="emitirSonido('four')">
      </ion-button>
    </ion-col>
    <ion-col size="4">
      <ion-button color="orange" class="five" expand="full"  (click)="emitirSonido('five')">
      </ion-button>
    </ion-col>
    <ion-col size="4">
      <ion-button color="dark" class="six" expand="full" fill="outline" (click)="emitirSonido('six')">
      </ion-button>
    </ion-col>
    <ion-col size="4">
      <ion-button color="danger" class="seven" expand="full" fill="outline" (click)="emitirSonido('seven')">
      </ion-button>
    </ion-col>
    <ion-col size="4">
      <ion-button color="success" class="eight" expand="full" fill="outline" (click)="emitirSonido('eight')">
      </ion-button>
    </ion-col>
    <ion-col size="4">
      <ion-button color="tertiary" class="nine" expand="full" fill="outline" (click)="emitirSonido('nine')">
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>