<ion-content>
    <ion-list style="height:68vh; overflow-y: auto;">
        <ion-list-header color="dark">Listado de Cliente</ion-list-header>
        <ion-item *ngFor="let usuario of usuarios">
            <ion-avatar size="small" slot="start">
                <img src="{{usuario.foto}}">
            </ion-avatar>
            <ion-label>
                <p *ngIf="usuario.nombre != undefined">{{usuario.nombre}} {{usuario.apellido}} | DNI: {{usuario.dni}}</p>
                <p *ngIf="usuario.nombre == undefined"> {{usuario.email}} </p>
                <p style="font-weight: bold; color:rgb(42, 54, 165)" *ngIf="usuario.activo==null">Estado: Pendiente </p>
                <p style="font-weight: bold; color:rgb(26, 236, 26)" *ngIf="usuario.activo">Estado: Autorizado </p>
                <p style="font-weight: bold; color:rgb(226, 43, 19)" *ngIf="!usuario.registrado">Registrado {{usuario.registrado}} </p>
                <p style="font-weight: bold; color:rgb(9, 88, 6)" *ngIf="usuario.registrado">Registrado {{usuario.registrado}} </p>

                <p>
                    <ion-button color="warning" class="btn-sm" (click)="autorizarEmpleado(usuario)">Empleado</ion-button>
                    <ion-button color="success" class="btn-sm" (click)="autorizar(usuario)">Aceptar</ion-button>
                    <ion-button color="danger" class="btn-sm" (click)="noAutorizar(usuario)">Eliminar</ion-button>
                </p>
            </ion-label>
        </ion-item>
    </ion-list>
    <ion-footer style="height:15vh;">
        <ion-button size="small" expand="full" color="success" (click)="mostrarTodos()">Todos</ion-button>
        <ion-button size="small" expand="full" color="danger" (click)="mostrarPendientes()">Pendientes Autorizar</ion-button>
        <ion-button size="small" expand="full" color="primary" (click)=" eliminarAnonimos()">Borrar Anonimos</ion-button>
    </ion-footer>

</ion-content>