ion-button {     
    height: 100% !important;
    width: 100% !important;
    margin: 0 !important; 
    padding: 0 !important;
    border: 0;
    
}

ion-icon {
    height: 100% !important;
    width: 100% !important;
}

.yellow {
    background-color: yellow;
    background-repeat: no-repeat;
    background-position: center; 
    background-size: contain;
}

.blue {
    background-color: blue;
    background-repeat: no-repeat;
    background-position: center; 
    background-size: contain;
}

.white {
    background-color: white;
    background-repeat: no-repeat;
    background-position: center; 
    background-size: contain;
}

.lightBlue {
    background-color: lightblue;
    background-repeat: no-repeat;
    background-position: center; 
    background-size: contain;
}

.orange {
    background-color: orange;
    background-repeat: no-repeat;
    background-position: center; 
    background-size: contain;
}

.black {
    background-color: black;
    background-repeat: no-repeat;
    background-position: center; 
    background-size: contain;
}

.red {
    background-color: red;
    background-repeat: no-repeat;
    background-position: center; 
    background-size: contain;
}

.green {
    background-color: green;
    background-repeat: no-repeat;
    background-position: center; 
    background-size: contain;
}

.violet {
    background-color: violet;
    background-repeat: no-repeat;
    background-position: center; 
    background-size: contain;
}

ion-grid{
    height: 100%;
    margin: 0 !important; 
    padding: 0;
}

ion-row{    
    height: 100% !important;
    width: 100% !important;
    margin: 0;    
    padding: 0;
}

ion-col{
    width: 100% !important;
    margin: 0;    
    padding: 0;
}