<ion-header>
    <ion-toolbar>
        <ion-title> Stats</ion-title>
        <ion-button slot="end" color="light" routerLink="/admin">
            <ion-icon name="arrow-back"> </ion-icon> Admin
        </ion-button>
        <!--         <ion-button *ngIf="!botonera" slot="end" color="light" (click)=" volver()">
            <ion-icon *ngIf="!botonera" name="arrow-back">RRHH</ion-icon>
        </ion-button> -->

    </ion-toolbar>
</ion-header>

<ion-content padding class="bartenderMenu" style="height: 90vh">
    <ion-card id="grafico" class="backgroundCard_graph">
        <ion-card-header>
            Promedio de calificaciones
        </ion-card-header>
        <ion-card-content>
            <canvas height="400" #doughnutCanvas></canvas>
        </ion-card-content>
    </ion-card>
</ion-content>